@model AppContactosG59.Models.Contacto;
@{
    ViewData["Title"] = "Detalle Contacto";
}

<h1 class="text-center">Administracion de Contactos</h1>
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header text-center">
                <h3><strong>Detalle de Contacto</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Id: </strong>@Html.DisplayFor(m => m.Id)</li>
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
                    <li class="list-group-item"><strong>Teléfono: </strong>@Html.DisplayFor(m => m.Telefono)</li>
                    <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(m => m.Celular)</li>
                    <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

